<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolore explicabo, vel vitae adipisci quaerat eum ullam voluptatem aperiam quos facilis repellendus porro, quam necessitatibus! Incidunt dicta quaerat eum magni.</p>
    </div>
</div>