<div class="jumbotron mt-4">
<h1 class="display-4">Noed app Nodejs and MongoDb</h1>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ducimus id amet debitis. Cupiditate consequuntur, enim necessitatibus dolore rem eum eveniet sint cum nulla in aliquam fuga nobis earum iure.</p>
<a href="http://faztweb.com" class="btn btn-primary btn-lg">faztweb</a>
</div>